<h1>All the Ideas!</h1>

<form id="create-form">
  <h3>Create a New Idea</h3>
  Title: <input type="text" id="idea-title"><br><br>
  Body: <input type="text" id="idea-body">
  <input class="" id="create-idea" type="button" name="submit" value="Save">
</form>

<form id="filter-form">
  Filter Ideas: <input type="text" id="idea-filter">
</form>

<div id="ideas-container">
</div>
