<h1>All the Ideas!</h1>

<div id="ideas-container">
</div>

<br>

<form>
  Title: <input class="" type="text" id="idea-title">
  Body: <input class="" type="text" id="idea-body">
  <input class="" id="create-idea" type="button" name="submit" value="Save">
</form>
