<h1>All the Ideas!</h1>

<form id="create-form">
  Title: <input type="text" id="idea-title">
  Body: <input type="text" id="idea-body">
  <input class="" id="create-idea" type="button" name="submit" value="Save">
</form>

<div id="ideas-container">
</div>
