body {
  background-color: #222;
}

h1 {
  color: #EEE;
  text-align: center;
}

.idea-box {
  border: 3px solid grey;
  background-color: #EAF0E6;
  border-radius: 10px;
  width: 50%;
  min-height: 150px;
  padding: 1px 10px;
  margin: 15px auto;
}

.idea-box-quality {
  color: #777;
  font-style: oblique;
}

#create-form {
  border: 3px solid white;
  color: white;
  background-color: grey;
  border-radius: 10px;
  width: 50%;
  min-height: 25px;
  padding: 10px;
  margin: 15px auto;
}

#filter-form {
  border: 3px solid white;
  color: white;
  background-color: grey;
  border-radius: 10px;
  width: 50%;
  min-height: 25px;
  padding: 10px;
  margin: 15px auto;
}

.delete-idea {
  float: right;
}

#idea-title {
  width: 300px;
}

#idea-body {
  width: 500px;
}

#idea-filter {
  width: 400px;
}
